:root {
    --gradient-fade: linear-gradient(transparent 80%, #7798AB 100%);
    --gradient-1: radial-gradient(40% 40% at top left, #24c1ff, transparent);
    --gradient-2: radial-gradient(40% 40%, #00cc66, transparent);
    --gradient-3: radial-gradient(40% 40% at bottom right, #403d58, transparent);
    --gradient-4: radial-gradient(40% 40% at center right, #ff8800, transparent);
    --gradient-5: radial-gradient(40% 40% at center left, #fcea53, transparent);
    --mask-1: radial-gradient(30% 20% at 25% 50%, black, transparent);
    --mask-2: radial-gradient(40% 40% at bottom right, black, transparent);
    --mask-3: radial-gradient(10% 15% at 18% 42%, black, transparent);
    --mask-4: var(--gradient-4);
    --mask-5: radial-gradient(50% 40% at 20% 20%, black, transparent);
    --mask-6: var(--gradient-5);
    --mask-set: var(--mask-1), var(--mask-2), var(--mask-3), var(--mask-4), var(--mask-5), var(--mask-6);
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    overflow-x: hidden !important;
}

html,body {
    scroll-behavior: smooth !important;
}

html:focus-within {
    scroll-behavior: smooth !important;
}

body {
    background-color: #8ACDEA;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 15%;
    padding-right: 15%;
    box-shadow: 0px -2px 8px rgb(0 0 0 / 0.4);
    overflow-x: hidden !important;
    z-index: -1;
}

.gradient {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0;
    left:0;
    background-image: var(--gradient-fade), var(--gradient-1), var(--gradient-2), var(--gradient-3), var(--gradient-4), var(--gradient-5);
    mask-image: var(--mask-set);
    -webkit-mask-image: var(--mask-set);
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto !important;
	}
}

/* ------------ SCROLL ANIMATIONS ------------------ */

/* -- FUTURE USE 
.fade {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(50%);
    transition: 1s;
}

.fade.appear {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

*/

/* ------------ LOGO HEADER ------------ */


.logo.header {
    display: block;
    text-align: center;
    z-index: 1;
    position: relative;
    padding: 50px 0px 20px 0;
}

.logo.header img {
    width: 10.1vw;
    height: auto;
}

/* ------------ NAVBAR ------------ */


nav {
    background-color: transparent;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    z-index: 1000;
    position: fixed;
    padding: 0 15% 0 15%;
    left: 0;
    right: 0;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

nav.scrolled  {
    background-color: rgb(0 0 0 / 0.8);
    color: white;
}

.brand-title h4 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.5vw;
    font-family: 'Schoolbell', cursive;
    align-items: center;
    line-height: 30px;
    vertical-align: baseline;
}

.navlinks ul li {
    display: inline-block;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px 10px;
    position: relative;
} 

.navlinks ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: aliceblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav.scrolled ul li:after {
    background-color: #8ACDEA;
}
.navlinks ul li:hover::after {
    width: 100%;
}

.navlinks li a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: .8vw;
    transition: color 0.5s ease-in-out;
}

nav.scrolled li a {
    color: white;
}

.burger {
    display: none;
}

.x {
    display: none;
}

/* ------------ SECTION 1 ------------ */


.sec1 {
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 15px 0 15px 0;
}

.sec1-text h1 {
    font-family: 'Schoolbell', cursive;
    text-transform: uppercase;
}

.boat {
    width: 31vw;
    height: auto !important;
    display: flex;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.sec1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 15px;
}

.text-box {
    display: inline-block;
    padding: 5px 0 5px 0;
}

.sec1-text h1 {
    font-size: 1.8vw;
}

.sec1-text p {
    font-size: .8vw;
}

/* ------------ SECTION 2 ------------ */

.sec2 {
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 15px 0 15px 0;
}

.boat2 {
    width: 31vw;
    height: auto !important;
    display: flex;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.boat2mobile {
    display: none;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.sec2-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-right: 15px;
}

.sec2-text h1 {
    font-size: 1.8vw;
    font-family: 'Schoolbell', cursive;
    text-transform: uppercase;
}

.sec2-text p {
    font-size: .8vw;
}

/* ------------ CRUISES ------------ */

.section-title {
    font-size: 2.8vw;
    font-family: 'Schoolbell', cursive;
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
    flex-direction: column;
}

.section-title h1 {
    text-align: center;
}

.underline {
    background-color: black;
    width: 100%;
    height: 8px;
}

.cruise1-text h1 {
    font-family: 'Schoolbell', cursive;
    text-transform: uppercase;
}
.cruise2-text h1 {
    font-family: 'Schoolbell', cursive;
    text-transform: uppercase;
}
.cruise3-text h1 {
    font-family: 'Schoolbell', cursive;
    text-transform: uppercase;
}
.cruise4-text h1 {
    font-family: 'Schoolbell', cursive;
    text-transform: uppercase;
}
.cruise5-text h1 {
    font-family: 'Schoolbell', cursive;
    text-transform: uppercase;
}
.cruise6-text h1 {
    font-family: 'Schoolbell', cursive;
    text-transform: uppercase;
}

.cruise-col1 {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    padding: 15px 0 15px 0;
}

.cruise-col2 {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    padding: 15px 0 15px 0;
}

.cruise-col3 {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    padding: 15px 0 15px 0;
}


.cruise-col-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-right: 15px;
}

.cruise-col-left h1 {
    font-size: 1.8vw;
    font-family: 'Schoolbell', cursive;
}

.cruise-col-left h2 {
    font-size: 1vw;
}

.cruise-col-left h3 {
    font-size: .8vw;
}

.cruise-col-left p {
    font-size: .8vw;
}

.cruise-col-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-right: 15px;
}

.cruise-col-right h1 {
    font-size: 1.8vw;
    font-family: 'Schoolbell', cursive;
}

.cruise-col-right h2 {
    font-size: 1vw;
}

.cruise-col-right p {
    font-size: .8vw;
}

.family-pic {
    width: 31vw;
    height: auto !important;
    display: flex;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.family-pic-mobile {
    display: none;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}


.sunset {
    width: 31vw;
    height: auto !important;
    display: flex;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.drink {
    width: 16vw;
    height: auto !important;
    display: flex;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.drink-mobile {
    display: none;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}




/* ------------ SPECIAL EVENTS ------------ */

.moons {
    width: 31vw;
    height: auto !important;
    display: flex;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.fireworks {
    width: 31vw;
    height: auto !important;
    display: flex;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.fireworks-mobile{
    display: none;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.ponys {
    width: 31vw;
    height: auto !important;
    display: flex;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.carnival {
    width: 31vw;
    height: auto !important;
    display: flex;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.carnival-mobile {
    display: none;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.crabs {
    width: 31vw;
    height: auto !important;
    display: flex;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.specials-col1 {
    display: flex;
    padding: 15px 0 15px 0;
}
.specials-col2 {
    display: flex;
    padding: 15px 0 15px 0;
}
.specials-col3 {
    display: flex;
    padding: 15px 0 15px 0;
}
.specials-col4 {
    display: flex;
    padding: 15px 0 15px 0;
}
.specials-col5 {
    display: flex;
    padding: 15px 0 15px 0;
}

.specials-col-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-right: 15px;
}

.specials-col-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 15px;
}

.specials-col-right h1 {
    font-size: 1.8vw;
    font-family: 'Schoolbell', cursive;
}

.specials-col-right p {
    font-size: .8vw;
}

.specials-col-left h1 {
    font-size: 1.8vw;
    font-family: 'Schoolbell', cursive;
}

.specials-col-left p {
    font-size: .8vw;
}



/* ------------ BOOKING ------------ */

.button {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.button-2 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.btn {
    margin: 0;
    background-size: 200% auto;
    background: linear-gradient( to right, #f6bc00 51%, #ff8800 100%);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    color: aliceblue;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    height: 6vh;
    width: 12vw;
    cursor: pointer;
    z-index: 10;
    transition: 0.5s;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.btn:hover {
    background-position: right center;
    color: rgb(0 0 0 / 0.8);
}


/* ------------ CONTACT & MAP ------------ */

.contact-box {
    padding-top: 30px;
}

.contact-col {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
}

.contact-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contact-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    padding: 20px;
}

.links {
    padding: 10px;
}

.links a {
    font-size: 20px;
    text-decoration: none;
    padding-left: 5px;
    color: black;
    transition: 0.5s;
}

.links a:link {
    text-decoration: none;
}
.links a:visited {
    text-decoration: none;
}
.links a:hover {
    text-decoration: none;
    color: #675cff;
}
.links a:active {
    text-decoration: none;
}

.container-map {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info p {
    text-transform: uppercase;
}

.info {
    font-size: 20px;
    text-align: center;
}

.container-map iframe {
    height: 35vh;
    width: 30vw;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

/* -------- CANCELLATION POLICY ------------ */

.cancel-box {
    text-align: center;
    background: #272727;
    border-radius: 25px;
    color: white;
    margin: 25px 0 25px 0;
}

.cancel {
    padding: 10px 25px 25px 25px;
}

.cancel h2 {
    font-size: 25px;
}


/* TABLET */
@media screen and (max-width: 1024px) {
    body {
        margin: 0;
        padding: 0 5% 0 5%;
    }

    nav {
        text-align: center;
        padding: 0 5% 0 5%;
    }

    .brand-title {
        margin: 5px;
        font-size: 20px;
    }

    .navlinks li a {
        letter-spacing: 3px;
        font-size: 15px;
    }

    .contact-text h1 {
        font-size: 3vw;
    }

    .links a {
        font-size: 2vw;
    }

    .container-map iframe {
        width: 40vw;
        height: 30vw;
    }

    .info {
        font-size: 2vw;
    }
}



/* ------------ MOBILE PHONE ------------ */



@media screen and (max-width: 480px) {

    html {
        overflow-x: hidden !important;
    }

    nav  {
        justify-content: space-evenly;
    }

    .logo.header img {
        width: 20vw;
        height: auto;
    }

    .brand-title h4{
        font-size: 4vw;
    }


    /*  ------------ NAVBAR ------------ */

    .navlinks {
        display: flex;
        position: fixed;
        inset: 0 0 0 50%;
        background: hsl(0, 0%, 10%);
        z-index: 999;
        text-align: left;
        transition: 0.5s ease-out;
        transform: translateX(100%);
    }

    .navlinks[data-visible = "true"] {
        transform: translateX(0%);
    }

    .navlinks li {
        opacity: 0;
    }

    .navlinks ul {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 50px;
        margin-left: 10px;
    }

    .navlinks ul li a {
        color: white;
    }


    @supports (backdrop-filter: blur(1rem)) {
        .navlinks {
            background: hsla(0, 0%, 10%, 0.5);
        backdrop-filter: blur(1rem);
        }
    }

    .navlinks ul {
        padding: 6px;
    }

    .burger {
        z-index: 9999;
        display: flex;
        color: black;
        font-size: 2em;
        cursor: pointer;
        position: fixed;
        height: 28px;
        width: 28px;
        top: 1.5rem;
        right: 1.5rem;
        align-items: center;
        justify-content: space-around;
        border-radius: 15%;
        box-sizing: border-box;
        background-color: #8ACDEA;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
    }

    .burger[aria-expanded = "true"] {
        display: none;
    }

    .x[aria-expanded = "true"]{
        z-index: 9999;
        display: flex;
        color: rgb(255, 255, 255);
        font-size: 2em;
        cursor: pointer;
        position: fixed;
        height: 28px;
        width: 28px;
        top: 1.5rem;
        right: 1.5rem;
        align-items: center;
        justify-content: space-around;
    }

    @keyframes navLinkFadein {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    @keyframes navLinkFadeOut {
        from {
            opacity: 1;
            transform: translateX(0px);
        }
        to {
            opacity: 0;
            transform: translateX(5px);
        }
    }

    /* ------------ SEC 1 ------------ */

    .sec1 {
        flex-direction: column;
        align-items: center;
    }

    .boat {
        width: 75vw;
        height: auto;
        margin-bottom: 25px;
    }

    .sec1-text {
        padding: 0;
    }

    .sec1-text h1 {
        font-size: 5vw;
    }

    .sec1-text p {
        font-size: 4vw;
    }

    .btn {
        width: 50vw;
        height: 8vh;
        font-size: 5vw;
    }
    

    /* ------------ SEC 2 ------------ */

    .sec2 {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .boat2 {
        display: none;
    }

    .boat2mobile {
        display: flex;
        width: 75vw;
        height: auto;
        margin: 10px 0 25px 0;
    }

    .sec2 {
        padding: 0;
    }

    .sec2-text {
        padding: 0;
    }

    .sec2-text h1 {
        font-size: 5vw;
    }

    .sec2-text p {
        font-size: 4vw;
    }

    /* ------------ CRUISES ------------ */

    .section-title {
        font-size: 5vw;
        padding: 30px 0 30px 0;
    }

    .underline {
        height: 1vw;
    }

    .cruise-col1 {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .cruise-col-left {
        padding: 0;
    }

    .cruise-col-right {
        padding: 0;
    }

    .family-pic {
        display: none;
    }

    .family-pic-mobile {
        display: flex;
        width: 75vw;
        height: auto;
        margin-bottom: 25px;
    }

    .text-box h1 {
        font-size: 5vw;
    }

    .text-box p {
        font-size: 4vw;
    }

    .text-box h2 {
        font-size: 3vw;
        font-style: italic;
    }

    .text-box h3 {
        font-size: 2.8vw;
        text-decoration: underline;
    }

    .cruise-col2 {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .sunset {
        width: 75vw;
        height: auto;
        margin: 25px 0 25px 0;
    }

    .cruise-col3 {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .drink {
        display: none;
    }

    .drink-mobile {
        display: flex;
        width: 40vw;
        height: auto;
        margin: 25px 0 25px 0;
    }

   
    /* ------------ SPECIALS ------------ */

    .specials-col1{
        flex-direction: column;
        align-items: center;
    }

    .specials-col2{
        flex-direction: column;
        align-items: center;
    }
    .specials-col3{
        flex-direction: column;
        align-items: center;
    }
    .specials-col4{
        flex-direction: column;
        align-items: center;
    }
    .specials-col5{
        flex-direction: column;
        align-items: center;
    }

    .specials-col-left {
        padding: 0;
    }

    .specials-col-right {
        padding: 0;
    }

    .moons {
        width: 75vw;
        height: auto;
        margin-bottom: 25px;
    }

    .fireworks {
        display: none;
    }

    .fireworks-mobile {
        display: flex;
        width: 75vw;
        height: auto;
        margin-bottom: 25px;
    }

    .ponys {
        width: 75vw;
        height: auto;
        margin-bottom: 25px;
    }

    .carnival {
        display: none;
    }

    .carnival-mobile {
        display: flex;
        width: 75vw;
        height: auto;
        margin-bottom: 25px;
    }

    .crabs {
        width: 75vw;
        height: auto;
        margin-bottom: 25px;
    }

    /* ------------ CONTACT & MAP ------------ */

    .container-map iframe {
        width: 40vw;
        height: 25vh;
        border-radius: 25px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    }

    .info {
        font-size: 2.5vw;
    }

    /* ------------ CANCEL ------------ */

    .cancel h2 {
        font-size: 2vh;
    }

    .cancel p {
        font-size: 1.5vh;
    }

}
